<script src="/socket.io/socket.io.js"></script>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/lodash/dist/lodash.min.js"></script>
<script src="/bower_components/mustache.js/mustache.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
