<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}{{/block}}</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="description" content="CDS Server"/>
    <meta name="keywords" content="cds, server"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="version" content="{{version}}"/>

    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style/fonts.css">
    <link rel="stylesheet" href="/style/style.css">

  {{> favicon}}
</head>

<body class="cds-authbkg">
<section class="container cds-authbox">
    <section class="row">
        <section class="col-lg-4 col-lg-offset-1">
            <h1 class="cds-logo">
                Cloud Studio Core
            </h1>
        </section>
        <section class="col-lg-4 cds-box col-lg-offset-1">
            <header class="cds-header">
                <h2>{{#block "header"}}{{/block}}</h2>
            </header>
            <section class="cds-content">
              {{{body}}}
            </section>
            <footer class="cds-footer">
              {{#block "footer"}}{{/block}}
            </footer>
        </section>
    </section>
</section>

{{> jsBase}}

</body>
</html>
