body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Lato', Helvetica, sans-serif;
  color: #282828;
  font-size: 10pt;
}
a {
  color: #787878;
}
a:hover {
  color: #1e71a7;
}
.cds-table {
  cursor: default;
}
.cds-authbkg .cds-authbox {
  margin-top: 50px;
  margin-bottom: 50px;
}
.cds-authbkg .cds-authbox .cds-box {
  padding-bottom: 20px;
  border: 1px solid #ababab;
  background: #fafafa;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}
.cds-authbkg .cds-authbox .cds-logo {
  font-size: 22pt;
  color: #1e71a7;
  font-weight: 300;
  text-align: center;
  text-indent: -5000px;
  width: 350px;
  height: 281px;
  margin: auto;
  background: transparent url('../images/logo.png') no-repeat center center;
}
.cds-authbkg .cds-authbox h2 {
  text-align: center;
  font-weight: 400;
  font-size: 17pt;
}
.cds-app-header {
  padding-top: 10px;
  line-height: 75px;
  font-size: 14pt;
  margin-bottom: 25px;
}
.cds-app-header .cds-logo {
  font-size: 20pt;
  color: #1e71a7;
  font-weight: 300;
  margin-left: 20px;
}
.cds-app-header .cds-profile {
  text-align: right;
}
.cds-app-header .cds-profile ul {
  list-style: none;
}
.cds-app-header .cds-profile ul li {
  display: inline-block;
  cursor: default;
}
.cds-app-header .cds-profile .cds-name {
  margin-right: 10px;
}
.cds-app-header .cds-profile .cds-image img {
  width: 60px;
  height: 60px;
  border: 1px solid #ababab;
}
.cds-app-header .cds-profile .cds-logout a {
  font-size: 18pt;
  color: #ababab;
  text-decoration: none;
}
.cds-app-header .cds-profile .cds-logout a:hover {
  color: #1e71a7;
}
.cds-app-mainblock .cds-sidebar {
  margin-top: 5px;
}
.cds-app-mainblock .cds-sidebar .cds-mainmenu {
  list-style: none;
  padding: 0 0 0 10px;
  margin: 0 0 25px 0;
}
.cds-app-mainblock .cds-sidebar .cds-mainmenu li a {
  color: #787878;
  text-decoration: none;
}
.cds-app-mainblock .cds-sidebar .cds-mainmenu li a:hover {
  color: #1e71a7;
}
.cds-app-mainblock .cds-sidebar .cds-mainmenu li .glyphicon {
  margin-right: 5px;
  text-align: center;
  width: 16px;
}
.cds-app-mainblock .cds-sidebar .cds-copyright {
  text-align: center;
}
.cds-app-mainblock .cds-container {
  -webkit-border-radius: 15px 15px 0px 0px;
  -moz-border-radius: 15px 15px 0px 0px;
  border-radius: 15px 15px 0px 0px;
  height: 100%;
}
.cds-app-mainblock .cds-container h1,
.cds-app-mainblock .cds-container h2 {
  margin-top: 0;
  padding-top: 0;
  font-weight: 300;
  padding-bottom: 8px;
}
.cds-app-mainblock .cds-container h1 {
  color: #1e71a7;
}
.cds-app-mainblock .cds-container h2 {
  color: #3a9c1c;
}
.cds-app-mainblock .cds-container .cds-box {
  margin-bottom: 25px;
}
.cds-app-mainblock .cds-container .cds-box .cds-box-meta {
  margin-top: 10px;
}
.cds-app-mainblock .cds-container .nav {
  margin-bottom: 20px;
}
.cds-userList {
  list-style: none;
  margin: 0;
  padding: 0;
}
.cds-userList li {
  margin-bottom: 5px;
  cursor: default;
}
.cds-userList li img {
  margin-right: 10px;
  width: 30px;
  height: 30px;
}
.cds-form .help-block {
  display: none;
}
