@white: #ffffff;
@lightgray: #fafafa;
@gray: #ababab;
@blackish: #787878;
@text: #282828;

@highlight: #1e71a7;
@green: #3a9c1c;
@red: #dc0000;

body, html {
  width: 100%;
  height: 100%;

  font-family: 'Lato', Helvetica, sans-serif;
  color: @text;
  font-size: 10pt;
}

a {
  color: @blackish;

  &:hover {
    color: @highlight;
  }
}

.cds-table {
  cursor: default;
}

.cds-authbkg {
  .cds-authbox {
    margin-top: 50px;
    margin-bottom: 50px;
    .cds-box {
      padding-bottom: 20px;
      border: 1px solid @gray;
      background: @lightgray;
      -moz-border-radius: 15px;
      -webkit-border-radius: 15px;
      border-radius: 15px;
    }
    .cds-logo {
      font-size: 22pt;
      color: @highlight;
      font-weight: 300;
      text-align: center;
      text-indent: -5000px;
      width: 350px;
      height: 281px;
      margin: auto;

      background: transparent url('../images/logo.png') no-repeat center center;
    }
    h2 {
      text-align: center;
      font-weight: 400;
      font-size: 17pt;
    }
  }
}

.cds-app-header {
  //background: #ababab;
  padding-top: 10px;
  //padding-bottom: 10px;
  line-height: 75px;
  font-size: 14pt;
  margin-bottom: 25px;

  .cds-logo {
    font-size: 20pt;
    color: @highlight;
    font-weight: 300;
    margin-left: 20px;
  }

  .cds-profile {
    text-align: right;
    ul {
      list-style: none;

      li {
        display: inline-block;
        cursor: default;
      }

    }

    .cds-name {
      margin-right: 10px;
    }

    .cds-image img {
      width: 60px;
      height: 60px;
      border: 1px solid @gray;
    }

    .cds-logout a {
      font-size: 18pt;
      color: @gray;
      text-decoration: none;

      &:hover {
        color: @highlight;
      }
    }
  }
}

.cds-app-mainblock {
  .cds-sidebar {
    margin-top: 5px;
    .cds-mainmenu {
      list-style: none;
      padding: 0 0 0 10px;
      margin: 0 0 25px 0;

      li {
        a {
          color: @blackish;
          text-decoration: none;

          &:hover {
            color: @highlight;
          }
        }
        .glyphicon {
          margin-right: 5px;
          text-align: center;
          width: 16px;
        }
      }
    }
    .cds-copyright {
      text-align: center;
    }
  }
  .cds-container {
    //background: @gray;
    -webkit-border-radius: 15px 15px 0px 0px;
    -moz-border-radius: 15px 15px 0px 0px;
    border-radius: 15px 15px 0px 0px;
    //padding-top: 15px;
    //padding-bottom: 15px;
    height: 100%;

    h1, h2 {
      margin-top: 0;
      padding-top: 0;
      font-weight: 300;
      //margin-bottom: 15px;
      padding-bottom: 8px;
    }
    h1 {
      color: @highlight;
    }
    h2 {
      color: @green;
    }

    .cds-box {
      margin-bottom: 25px;

      .cds-box-meta {
        margin-top: 10px;
      }
    }
    .nav {
      margin-bottom: 20px;
    }
  }
}

.cds-userList {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin-bottom: 5px;
    cursor: default;
    img {
      margin-right: 10px;
      width: 30px;
      height: 30px;
    }
  }
}

.cds-form {
  .help-block {
    display: none;
  }
}
