<!DOCTYPE html>
<html>
<head>
    <title>{{engine.config.engine.name}}</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="description" content="CDS Client"/>
    <meta name="keywords" content="cds, client"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="version" content="{{version}}"/>

    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/jQuery-contextMenu/dist/jquery.contextMenu.min.css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/bower_components/jquery-ui/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/style/fonts.css">
    <link rel="stylesheet" href="/style/editor/editor.css">

  {{> favicon}}
</head>
<body>
<section class="loader">
    <section class="img"></section>
</section>
<section class="dashboard"></section>


{{> jsBase}}
<script src="/bower_components/jquery-ui/jquery-ui.min.js"></script>
<script src="/bower_components/jQuery-contextMenu/dist/jquery.contextMenu.min.js"></script>
<script src="/bower_components/mustache.js/mustache.js"></script>
<script src="/api/v1/runtime"></script>
<script src=/js/editor/ace/ace.js></script>
<script src=/js/editor/ace/ext-language_tools.js></script>

<script data-main="/js/editor/cds.js" src="/bower_components/requirejs/require.js"></script>
</body>
</html>
