const CDSConfig = {
  Support: "{{cds.contact}}",
  Issues: "{{cds.issues}}",
  Docs: "{{cds.docs}}",
  Language: "{{cds.language}}",

  Project: "workspace",
  Path: "{{path}}",
  API: "{{api}}",
  Server: "{{server}}",
  Runtime: "{{runtime}}",

  Name: "{{name}}",
  Version: "{{version}}"
};

function APIPath(what) {
  return `${CDSConfig.Server}/${what}`;
}
