<section class="modal fade" id="modal_one">
  <section class="modal-dialog">
    <section class="modal-content">
      <section class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Window</h4>
      </section>
      <section class="modal-body">

      </section>
      <section class="modal-footer">
        <button type="button" class="btn btn-default modal-no" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary modal-yes" data-dismiss="modal">Save</button>
      </section>
    </section>
  </section>
</section>

<section class="modal fade" id="modal_two">
  <section class="modal-dialog">
    <section class="modal-content">
      <section class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Window</h4>
      </section>
      <section class="modal-body">
        <section id="modalText" rows="10" cols="30"></section>
      </section>
      <section class="modal-footer">
        <button type="button" class="btn btn-default modal-no" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary modal-yes" data-dismiss="modal">Save</button>
      </section>
    </section>
  </section>
</section>
