<section class="workspace">
  <section class="tabs">
    <ul>
    </ul>
    <section class="navi">
      <a id="prev"><span class="glyphicon glyphicon-chevron-left">&nbsp;</span></a>
      <a id="next"><span class="glyphicon glyphicon-chevron-right">&nbsp;</span></a>
    </section>
  </section>
  <section class="xcontainer">
  </section>
  <section class="workspaceLoader">
    <section class="img">&nbsp;</section>
  </section>
</section>

<script type="text/template" id="tab-tpl">
  <li data-file="{{ file }}" data-container="{{ unique_tab }}" class="active"><span class="title">{{ name }}</span><span class="scroll"></span><a class="close-tab"><span class="glyphicon glyphicon-remove"></span></a></li>
</script>
<script type="text/template" id="tab-ctnt">
  <section id="{{ unique_tab }}" class="content editor active">
    <section id="{{ unique_tab }}-textarea" class="textarea"></section>
    <section class="fader">
    </section>
  </section>
</script>
<script type="text/template" id="img-ctnt">
  <section id="{{ unique_tab }}" class="content active">
    <section id="{{ unique_tab }}-textarea" class="image-box"></section>
    <section class="fader">
    </section>
  </section>
</script>
<script type="text/template" id="tab-wbapp">
  <section id="{{ unique_tab }}" class="content wbuilder active" data-type="app">
    <section class="layout">
      <section data-boxtype="header" class="header">
      </section>
      <section data-boxtype="content" class="ctnt">
      </section>
      <section data-boxtype="footer" class="footer">
      </section>
    </section>
    <section class="fader">
    </section>
  </section>
</script>
