<section id="sidebar">
  <ul id="mainbar">
    <li><a data-widget="PROJECT-FILES" title="{{ PROJECT-FILES }}"><span class="tbicon fa fa-list-alt"></span></a></li>
    <li><a data-widget="TOOLBOX" title="{{ TOOLBOX }}"><span class="tbicon fa fa-cogs"></span></a></li>
    <li><a data-widget="PROPERTIES" title="{{ PROPERTIES }}"><span class="tbicon fa fa-magic"></span></a></li>
    <!--        <li><a class="disabled" title="Deployment"><span class="tbicon icon-cloud-download"></span></a></li>-->
  </ul>
</section>
<section id="sidebar-ext">
  <section class="contentLoader">
    <section class="img">&nbsp;</section>
  </section>
</section>
