.filler(@width: 100px, @height: 100px) {
  width: @width;
  height: @height;
  display: block;
  background: transparent no-repeat center center;
  text-align: center;
  text-indent: -5000px;
}

.no-select() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

/* latin-ext */
@font-face {
  font-family: 'Armata';
  font-style: normal;
  font-weight: 400;
  src: local('Armata'), local('Armata-Regular'), url(armata_ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Armata';
  font-style: normal;
  font-weight: 400;
  src: local('Armata'), local('Armata-Regular'), url(armata.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #f8f8f8 url('images/bkg.png');
  font-family: 'Armata', sans-serif;
  line-height: 1 !important;
}

.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(225, 225, 225, 1);
  color: #ffffff;
  z-index: 3000;
  top: 0;
  left: 0;

  .img {
    background: transparent url('images/loader.gif') no-repeat center center;
    width: 124px;
    height: 128px;
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -65px;
    margin-top: -84px;
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
  width: 0;
  height: 0;
}

.fa-none:before {
  content: "\0000a0"
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  padding-top: 10px;
}

code {
  padding: 0;
  border: none;
}

#code_template {
  height: 100%;
  width: 100%;
  .CodeMirror {
    height: 100%;
  }
  .CodeMirror-activeline-background {
    background: #e8f2ff !important;
  }

}

#topbar {
  border-bottom: 1px solid #dedede;
  background: #ffffff;
  width: 100%;
  .no-select();

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      padding: 0;
      a {
        display: block;
        text-decoration: none;
        border-bottom: 3px solid #ffffff;
        color: #ababab;
        line-height: 16pt;
        font-size: 10pt;
        &:hover {
          border-bottom-color: #00869E !important;
          color: #282828; //#00869E;
        }
      }
    }
  }
  #menubar li {
    a {
      font-family: 'Armata', sans-serif;
      padding: 5px 8px 2px 8px;
      cursor: pointer;
    }
    ul {
      display: none;
      position: absolute;
      width: 220px;
      background-color: #ffffff;
      z-index: 105;

      border: 1px solid #dedede;
      border-top: none;
      -webkit-box-shadow: 2px 7px 8px 1px rgba(0, 0, 0, 0.15);
      box-shadow: 2px 7px 8px 1px rgba(0, 0, 0, 0.15);

      li {
        display: block;
        a {
          padding: 2px 5px;
          margin: 0;
          font-size: 9pt;
          vertical-align: middle !important;
          .fa {
            //padding-right: 2px;
            margin-top: 0;
            width: 20px !important;
            font-size: 11pt;
            display: inline-block;
          }
          .shortcut {
            float: right;
            padding-right: 5px;
            font-size: 8pt;
          }
        }
        &.divider {
          width: 100%;
          height: 1px;
          background: #f1f1f1;
          margin: 5px 0;

        }
      }
    }
    &:hover {
      a {
        color: #282828;
      }
      ul {
        display: block;
        a {
          border-bottom: none;
          border-left: 3px solid #ffffff;
          color: #a5a5a5;
          &:hover {
            color: #000000;
            border-left-color: #00869E;
          }
        }
        li.disabled {
          a {
            border-bottom: none;
            border-left-color: #ffffff !important;
          }
        }
      }
    }
    &.disabled {
      a {
        color: #d0d0d0 !important;
        cursor: default !important;
        border-bottom-color: #ffffff !important;
      }
      ul {
        display: none;
      }
    }
  }
  #extrabox {
    margin-right: 5px;
    #title {
      color: #282828;
      font-size: 10pt;
      font-weight: 200;
      font-family: 'Armata', sans-serif;
      margin-right: 15px;
    }
    a {
      padding: 6px 8px 0px 8px;
      cursor: pointer;
      .glyphicon {
        font-size: 11pt !important;
      }
    }
  }
}

#sidebar {
  display: block;
  position: absolute;
  left: 0;
  top: 32px;
  width: 55px;
  background: #fafafa;
  border-right: 1px solid #dedede;
  z-index: 50;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #ffffff;
    border-bottom: 1px solid #dedede;
    li {
      display: block;
      a {
        display: block;
        padding: 4px 10px;
        color: #a5a5a5;
        font-size: 24pt;
        text-decoration: none;
        font-weight: 200;
        cursor: pointer;
        &:hover {
          color: #ffffff;
          background-color: #878787;
        }
        &.active {
          color: #ffffff;
          background-color: #00869E;
          cursor: default;
        }
        &.disabled {
          color: #d0d0d0;
          background: #ffffff;
          cursor: default;
        }
      }
    }
  }
  .tooltip {
    width: 120px;
    font-size: 10pt !important;
    font-family: 'Armata', sans-serif;
  }
}

#sidebar-ext {
  display: none;
  position: absolute;
  left: 55px;
  top: 32px;
  background: #f1f1f1;
  border-right: 1px solid #dedede;
  width: 300px;
  cursor: default;
  z-index: 55;

  .widget {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    display: none;

    &.active {
      display: block;
    }

    .header {
      padding: 10px 10px;
      background: #dcdcdc;
      color: #989898;
      font-size: 15pt;
      text-transform: uppercase;

      .close-widget {
        float: right;
        text-decoration: none;
        color: #ababab;
        cursor: pointer;
        margin-top: -3px;

        &:hover {
          color: #454545;
        }
      }
    }
    .content {
      height: 100%;
      overflow: auto;
    }
  }
  .contentLoader {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    background: rgba(50, 50, 50, 0.9);
    z-index: 1000;

    .img {
      display: block;
      background: transparent url('images/ctnt_loader.gif') no-repeat center center;
      width: 50px;
      height: 50px;
      position: relative;
      top: 50%;
      left: 50%;
      margin-left: -25px;
      margin-top: -25px;
    }
  }
}

#PROJECT-FILES {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 10pt;

  .no-select();

  ul {
    list-style: none;
    margin: 5px 0;
    padding: 0;

    li {
      display: block;
      vertical-align: middle;

      a {
        display: block;
        color: #676767;
        text-decoration: none;
        padding: 1px 5px;

        &:hover {
          color: #0088cc;
        }
        &.directory {
          font-weight: 400;
        }
        &.focused {
          background: #787878;
          color: #ffffff;
        }
        //            &.active-file{
        //               background: #0088cc;
        //               color: #ffffff;
        //            }
      }

      .glyphicon {
        margin-right: 3px;
        font-size: 11pt;
        //            vertical-align: middle;
      }

      ul {
        margin: 0;
        padding: 0 0 0px 25px;
        display: none;
      }
    }
  }
}

#TOOLBOX {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 10pt;
  padding-bottom: 0px;
  .container {
    width: 100%;
    padding: 0;
    margin: 0 0 10px 0;
  }
  h1 {
    padding: 5px 10px;
    margin: 5px 0 2px 0;
    font-size: 16pt;
    font-weight: 300 !important;
    color: #0088cc;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      cursor: pointer;
      display: inline-block;
      width: 135px;
      padding: 5px 10px;
      background: #f1f1f1;
      color: #878787;
      &:hover {
        background: #ffffff;
      }
      &.disabled {
        color: #dcdcdc;
      }
    }
  }

}

#PROPERTIES {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 10pt;
  padding-bottom: 0px;
  .container {
    width: 100%;
    padding: 0;
    margin: 0 0 10px 0;
  }
  h1 {
    padding: 5px 10px;
    margin: 5px 0 2px 0;
    font-size: 16pt;
    font-weight: 300 !important;
    color: #0088cc;

    .pull-right {
      margin-top: -6px;
    }
  }
  table {
    width: 100%;
    font-family: "Lato", sans-serif;

    th {
      width: 30%;
      padding: 2px 5px;
      text-align: right;
    }
    td {
      padding: 2px 5px;
      width: 65%;
    }

    .OthersClass {
      display: table-row;
    }

    .FormObject, .TextareaObject, .ButtonObject {
      display: none;
    }
  }

}

.fileContent {
  width: 600px;
  height: 300px;
  overflow: auto;
  background: #ababab;
  color: #ffffff;
  position: absolute;
  top: 32px;
  left: 411px;
}

.workspace {
  background: transparent;
  position: absolute;
  top: 32px;
  cursor: default;

  .tabs {
    position: relative;
    z-index: 10;
    overflow: hidden;
    width: 100%;
    height: 30px;

    ul {
      list-style: none;
      margin: 0;
      min-height: 28px;
      width: 50000px;
      overflow: hidden;
      position: absolute;
      left: 0;
      top: 2px;

      li {
        display: block;
        float: left;
        padding: 0px 11px;
        line-height: 28px;
        vertical-align: middle;

        font-family: 'Armata', sans-serif;
        font-size: 9pt;
        cursor: default;
        color: #989898;

        background: #e8e8e8;
        border-top: 1px solid #dfdfdf;
        border-right: 1px solid #dfdfdf;
        border-bottom: 1px solid #dfdfdf;
        -webkit-border-radius: 5px 5px 0px 0px;
        border-radius: 5px 5px 0px 0px;

        &:hover {
          background: #f6f6f6;
          color: #282828;
        }

        &.active {
          background: #fcfcfc;
          color: #0088cc;
          border-bottom: 1px solid #fcfcfc;
        }

        &.changed {
          .title:after {
            content: " *";
          }
        }
        .title {
          display: inline-block;
          vertical-align: middle;
        }
        .scroll {
          width: 16px;
          height: 16px;
          display: none;
          background: transparent url('images/save.gif') no-repeat center center;
          margin-left: 5px;
          vertical-align: middle;
        }

        a {
          vertical-align: middle;
          text-decoration: none;
          margin-left: 5px;
          display: inline-block;

          color: #bcbcbc;

          &:hover {
            color: #dc0000;
          }

          .glyphicon {
            font-size: 10pt;
            //                        vertical-align: middle;
            //                        padding-top: 0px;
            //                        line-height: 21px;
          }
        }
        &:first-child {
          //                    border-left: 1px solid #dfdfdf;
        }
      }
    }
    &:after {
      content: " ";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0;
    }
    .navi {
      position: absolute;
      top: 0px;
      right: 0;
      background: #f1f1f1;
      -webkit-border-radius: 5px 0px 0px 0px;
      border-radius: 5px 0px 0px 0px;
      padding-right: 5px;
      padding-top: 3px;
      cursor: default;

      a {
        display: inline-block;
        padding: 0px 0px 0px 11px;
        line-height: 28px;
        //                vertical-align: middle;
        text-align: center;

        font-family: 'Armata', sans-serif;
        font-size: 9pt;
        cursor: pointer;
        color: #989898;
        text-decoration: none;

        background: #e8e8e8;
        border: 1px solid #dfdfdf;
        -webkit-border-radius: 5px 5px 0px 0px;
        border-radius: 5px 5px 0px 0px;

        &:hover {
          background: #0088cc;
          color: #ededed;
        }

        .glyphicon {
          font-size: 10pt;
          //                    vertical-align: middle;
          //                    padding-top: 8px;
          //                    line-height: 20px;
        }
      }
    }
  }
  .xcontainer {
    position: relative;
    z-index: 5;
    margin-top: -1px;
    width: 100%;
    background: #f6f6f6 url('images/logo.png') no-repeat center center;
    border-top: 1px solid #dfdfdf;

    #dropbox-ctx {
      z-index: 1500;
      a {
        &:hover {
          color: #ffffff;
        }
        &.disabled {
          color: #a8a8a8;
          background: transparent;
        }
      }
    }
    .fader {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(56, 56, 56, 0.5);
      position: absolute;
      display: none;
      z-index: 1000;

      .msg {
        width: 250px;
        margin: auto;
        background: #f1f1f1;
        padding: 10px 20px;
        display: none;
      }
    }

    .content {
      background: #fcfcfc;
      width: 100%;
      height: 100%;
      display: none;
      overflow: auto;

      //            .CodeMirror {
      //                border: 1px solid #eee;
      //                height: 100%;
      //
      //            }
      //            .CodeMirror-scroll {
      //                overflow: auto;
      //            }
      .textarea {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        resize: none;
        width: 100%;
        height: 100%;
      }

      .image-box {
        width: 100%;
        height: 100%;
        background: #ffffff;

        img {
          padding: 10px;
        }
      }

      &.active {
        display: block;
      }
    }
    .wbuilder {
      background: #fcfcfc;
      width: 100%;
      height: 100%;
      display: none;
      overflow-x: none;
      overflow-y: auto;
      padding-bottom: 20px;
      .checkbox {
        vertical-align: middle;
        input {
          vertical-align: middle;
          margin-top: 0;
        }
      }
      form {
        padding-bottom: 5px;
      }
      .drop-hover {
        background: #ffffcc !important;
        border: 1px dotted #989898 !important;
        color: #282828;
      }
      .btn-group, .button-toolbar {
        min-width: 50px;
        min-height: 25px !important;
      }
      .list-view {
        width: 150px;
        min-height: 250px !important;
        border: 1px solid #ababab;
        background: #f1f1f1;

        li {
          min-height: 25px;
        }
      }
      .form-control {
        margin-bottom: 3px;
      }

      .header {
        min-height: 35px;
        width: 100%;
        border: 1px dashed #ededed;
        * {
          min-height: 15px;
        }
        ul {
          width: 100%;
          height: 100%;
        }
      }
      .ctnt {
        border: 1px dashed #ededed;
        min-height: 35px;
        width: 100%;
        * {
          min-height: 15px;
        }
        section {
          padding-bottom: 5px;
        }
      }
      .footer {
        border: 1px dashed #ededed;
        min-height: 35px;
        width: 100%;
        * {
          min-height: 15px;
        }
        ul {
          width: 100%;
          height: 100%;
        }
      }
      .actions {
        display: none;
      }

    }
  }

  .workspaceLoader {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    background: rgba(225, 225, 225, 0.7);
    z-index: 90;

    .img {
      display: block;
      background: transparent url('images/ctnt_loader.gif') no-repeat center center;
      width: 50px;
      height: 50px;
      position: relative;
      top: 50%;
      left: 50%;
      margin-left: -25px;
      margin-top: -25px;
    }
  }
}

.modal {
  font-family: "Lato", sans-serif;
  display: none;

  h4 {
    padding-top: 0;
  }
  .modal-header .close {
    margin-top: 8px;
    font-size: 19pt;
    line-height: 1;
  }
}

.modal_two #modalText {
  position: static;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  resize: none;
  width: 100%;
  height: 200px;
}
